<div class="container">
  
  <div class="text-center">
    <h1>Welcome to European Liqueurs</h1>
    <p class="lead">Your source for interesting Liqueurs from Europe</p>
  </div>
 
            <div class="products">
<!-- 		<%= image_tag("drambuie.jpg", class: "img-responsive my-image") %> -->
		<%= image_tag("beirao.png", class: "img-responsive my-image") %>
<!-- 		<%= image_tag("bombay.jpg", class: "img-responsive my-image") %> -->
</div><!-- /.container -->