<div class="container">
  
    <h1>Welcome to European Liqueurs</h1>
    <p class="lead">Your source for interesting Liqueurs from Europe</p>
 
            <div class="products">
		<%= image_tag("beirao.png", class: "img-responsive my-image") %>
		</div>


</div><!-- /.container -->