<div class="panel panel-default">
  <div class="panel-body">
    <p>Thank you. We have received your message and will respond as soon as possible.</p>

    <p>Return back to the main page: <a href="/static_pages/index">here</a></p>
  </div><!-- / panel-body -->
</div><!-- / panel -->
