// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.navbarblank{
	padding-bottom: 90px;
}

h1 {
    color: SteelBlue;
    text-align: center;
}

p {
    color: darkgrey;
}

.navbar-brand p {
    color: white;
    font-weight: 500;
    transition: color 600ms;
    webkit-transition: color 600ms;
    text-decoration: none;
    text-transform: uppercase;
    color: SteelBlue;
}

.navbar-brand p:hover {
    font-weight: 500;
    color: white;
}

.navbar-brand{
    margin-bottom: -10px;
    margin-top: auto;
    margin-bottom: auto;
}

.logopic {
    max-width: 200%;
    max-height: 200%;
    padding-left: 70px;
}

.navbar ul {
    text-transform: uppercase;
    font-size: 1.5em;
}

.navbar-nav, .navbar-form{
    padding-top: 20px;
}

.my-image{
    margin-left: auto;
    margin-right: auto;
}

#foot{
    background:  WhiteSmoke;
    text-align: right;
    heigth: 30px;
    padding-right: 20px;
    color: SteelBlue;;
    position:fixed;
   left:0px;
   bottom:0px;
   width:100%;
}

.navbar-header{
  margin-left: 5px;
}

.item img{
    margin: auto;
}